.page_404_body {
  background: linear-gradient(to right, white 50%, #383838 50%);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  color: white;
}

.page_404_div {
  display: flex;
  align-items: center;
  height: 100vh;
  max-width: 1000px;
  width: calc(100% - 4rem);
  margin: 0 auto;
}

.page_404_div > * {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 500px;
  width: 100%;
  padding: 2.5rem;
}

.page_404_div aside {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4424790/right-edges.png');
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 25px 100%;
}

.page_404_div aside img {
  display: block;
  height: auto;
  width: 100%;
}

.page_404_div main {
  text-align: center;
}

.page_404_div main h1 {
  font-family: 'Fontdiner Swanky', cursive;
  font-size: 4rem;
  color: #c5dc50;
  margin-bottom: 1rem;
}

.page_404_div main p {
  margin-bottom: 2.5rem;
}

.page_404_div main p em {
  font-style: italic;
  color: #c5dc50;
}

.page_404_div main button {
  font-family: 'Fontdiner Swanky', cursive;
  font-size: 1rem;
  color: #383838;
  border: none;
  background-color: #f36a6f;
  padding: 1rem 2.5rem;
  transform: skew(-5deg);
  transition: all 0.1s ease;
  cursor: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4424790/cursors-eye.png'),
    auto;
}

.page_404_div main button:hover {
  background-color: #c5dc50;
  transform: scale(1.15);
}

@media (max-width: 700px) {
  .page_404_body {
    background: #383838;
    font-size: 16px;
  }

  .page_404_div {
    flex-flow: column;
  }

  .page_404_div > * {
    max-width: 700px;
    height: 100%;
  }

  .page_404_div aside {
    background-image: none;
    background-color: white;
  }
  .page_404_div aside img {
    max-width: 300px;
  }
}
